/* GLOBAL */
@import "./global/variables.scss";
@import "./global/mixins.scss";
@import "./global/fonts.scss";
@import "./global/global.scss";

/* BLOCKS */

/* Header */
@import "./blocks/button.scss";
@import "./blocks/page.scss";
@import "./blocks/main-header.scss";
@import "./blocks/logo.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/site-list.scss";

/* Main */
@import "./blocks/main-container.scss";
@import "./blocks/hero.scss";
@import "./blocks/feed-program.scss";
@import "./blocks/advantage.scss";
@import "./blocks/example.scss";
@import "./blocks/result.scss";
@import "./blocks/price.scss";
@import "./blocks/slider-compare.scss";
@import "./blocks/location.scss";

/* Footer */
@import "./blocks/main-footer.scss";
@import "./blocks/social.scss";
@import "./blocks/copyright.scss";

/* Catalog */

@import "./blocks/catalog.scss";
@import "./blocks/card.scss";
@import "./blocks/addition.scss";
@import "./blocks/addition-card.scss";
@import "./blocks/promo.scss";
@import "./blocks/subscribe.scss";
@import "./blocks/email-form.scss";
