.feed-program__wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
}

.feed-program__list {
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: normal;
  gap: 23px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

@media (min-width: $tablet-width) {
  .feed-program__wrapper {
    max-width: 768px;
    padding: 0 0 48px;
    padding-bottom: 0;
  }

  .feed-program__list {
    gap: 32px;
    padding-left: 30px;
    padding-right: 30px;
  }
}


@media (min-width: $desktop-width) {
  .feed-program__wrapper {
    max-width: 1220px;
    padding: 82px 0 0;
  }

  .feed-program__list {
    flex-direction: row;
    gap: 80px;
    padding: 0;
  }
}
